.agency {
  width: 100%;
  padding: 240px 32px 202px ; 
}

.agency_wrap {
  display: flex;
  align-items: center;
  margin-left: 20vw;
}

.agency_descr {
  display: flex;
  flex-direction: column;
  max-width: 520px;
}

.agency_title {
  font-family: Neue Montreal;
  font-weight: 500;
  font-size: 44px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.agency_sp {
  font-family: Nib Pro;
  font-weight: 600;
  font-style: italic;
  font-size: 44px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #DEFCFF;
}

.agency_text {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: rgba(222, 252, 255, 0.8);
  margin-top: 11px;
}

.agency_buttons {
  display: flex;
  margin-top: 32px;
}

.talk_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 76px;
  height: 30px;
  background: #fff;
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 13px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #0a0a0c;
  cursor: pointer;
}

.arrow_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
  border-radius: 100px;
  background: #fff;
  cursor: pointer;
}

.arrow_btn.agency_btn {
  margin-left: 6px;
}

.arrow_btn img {
  width: 16px;
} 

.agency_slider {
  width: 676px;
  height: 413px;
  margin-left: 87px;
  position: relative;
}

.sliider_bg {
  width: 533px;
  height: 325px;
  position: absolute;
  top: -138px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
}

.sliider_bg img {
  max-width: 100%;
  height: auto;
}

.mySwiper3 {
   height: 100%;
   overflow: hidden;
}

.mySwiper3 .swiper-wrapper {
  height: 100%;
  
}
.agency_slide.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(20, 21, 26, 0.7);
  backdrop-filter: blur(30px);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(30px);
  width: 100%;
  height: 100%;
  padding: 118px 28px 28px;
  transform: scale(0.8);
  transition: all 1.7s ease;
}

.agency_slide.swiper-slide.swiper-slide-active {
  transform: scale(1);
  background: rgba(20, 21, 26, 0.7);
}

.agency_slide_txt {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #fff;
}

.agency_slide_bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 61px;
}

.agency_bottom_photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agency_photo {
  width: 66px;
  height: 66px;
  border-radius: 24px;
  background: #0A0A0C;
}

.slide_bottom_text {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.slide_bottom_title {
  font-family: Neue Montreal;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #fff;
}

.slide_bottom_txt {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #fff;
  margin-top: 8px;
}

.slide_bottom_link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_bottom_link img {
  width: 100%;
}

.pagination_block {
  width: 148px;
  height: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 32px;
}

.swiper-button-next.agency_next_btn, .swiper-button-prev.agency_prev_btn {
  height: 100%;
  top: 0;
  margin: 0;
  width: 33px;
  height: 25px;
  border-radius: 22px;
  background-color: #fff;
  transition: all .5s ease;
}

.swiper-button-prev.agency_prev_btn {
  transform: rotate(180deg);
}

.swiper-button-next.agency_next_btn:after, .swiper-button-prev.agency_prev_btn:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../assets/icons/arrow-black.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.swiper-button-next.agency_next_btn.swiper-button-disabled, .swiper-button-prev.agency_prev_btn.swiper-button-disabled {
  opacity: 1;
  border-radius: 22px;
  height: 100%;
  top: 0;
  margin: 0;
  width: 33px;
  height: 25px;
  border-radius: 22px;
  background: #0A0A0C;
  transition: all .5s ease;
}

.swiper-button-next.agency_next_btn.swiper-button-disabled:after, .swiper-button-prev.agency_prev_btn.swiper-button-disabled:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../assets/icons/arrow-white.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  transform: rotate(180deg);
  transition: all .5s ease;
}

.swiper-pagination {
  color: #fff;
  width: 38px;
  height: 25px;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(222, 252, 255, 0.80);
  font-family: "Neue Montreal";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  color: rgba(222, 252, 255, 0.8)
}

.slide_number {
  color: rgba(222, 252, 255, 0.80);
  font-family: "Neue Montreal";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}


@media (max-width: 1741px) {
  .agency_wrap {
    margin-left: 17vw;
  }
}

@media (max-width: 1500px) {
  .agency_wrap {
    margin-left: 12vw;
  }
}

@media (max-width: 1441px) {
  .agency_wrap {
    margin-left: 10vw;
  }
}

@media (max-width: 1240px) {
  .agency_wrap {
    margin-left: 3vw;
  }
  .agency_title {
    font-size: 32px;
  }
  .agency_sp {
    font-size: 32px;
  }
  .agency_slider {
    width: 584px;
    height: 413px;
    margin-left: 29px;
  }  
  .agency_slide_txt {
    font-size: 30px;
  }
  .agency_descr {
    max-width: 506px;
  }
}

@media (max-width: 1125px) {
  .agency {
    padding: 180px 32px 232px ;
  }
  .agency_wrap {
    flex-direction: column;
    margin: 0 auto;
  }
  .agency_descr {
    max-width: 558px;
    align-items: center;
    text-align: center;
  }
  
  .agency_slider {
    width: 736px;
    margin-left: 0px;
    margin-top: 172px;
  }
}

@media (max-width: 800px) {
  .agency {
    padding-bottom: 120px;
    padding: 240px 24px 120px ;
  }
  .agency_slider {    
    width: 98%;
  }
  .agency_text {
    font-size: 18px;
  }
  .agency_slide_txt {
    font-size: 28px;
  }
} 

@media (max-width: 560px) {
  .agency {
    padding: 120px 16px 88px ;
  }
  
  .agency_title {
    font-size: 24px;
    width: 260px;
  }
  .agency_sp {
    font-size: 24px;
  }
  .agency_text {
    font-size: 14px;
  }
  .agency_slide_txt {
    font-size: 24px;
  }
  .agency_slider {
    width: 352px;
    margin-top: 114px;
  }
  .sliider_bg {
    width: 250px;
    top: -64px;
  }
  .slide_bottom_link {
    display: none;
  }
}