.nav_hide {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  /* max-width: 456px; */
  /* height: 539px; */
  height: 0;
  opacity: 0;
  /* display: flex;
  flex-direction: column; */
  /* padding: 16px; */
  /* align-items: center;
  justify-content: space-between; */
  border-radius: 24px;
  /* backdrop-filter: blur(100px); */
  /* box-shadow: inset 0 0 22px 0 rgba(242, 242, 242, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.07), inset -2px -2px 1px -2px rgba(255, 255, 255, 0.7), inset 2px 2px 1px -2px rgba(255, 255, 255, 0.7), inset 3px 3px 0px -3px #fff; */
  /* background: rgba(255, 255, 255, 0.1); */
	/* background-color: rgba(255, 255, 255, 0.06); */
	/* mix-blend-mode: screen; */
	/* box-shadow: 3px 3px 0.5px -3.5px rgba(255, 255, 255, 0.7) inset, 2px 2px 1px -2px rgba(255, 255, 255, 0.7) inset, -2px -2px 1px -2px rgba(255, 255, 255, 0.7) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.07) inset, 0px 0px 22px 0px rgba(242, 242, 242, 0.10) inset; */
	/* backdrop-filter: blur(32.5px); */
	/* -webkit-backdrop-filter: blur(32.5px); */
  background-color: rgba(255, 255, 255, 0.06);
	box-shadow: 3px 3px 0.5px -3.5px rgba(255, 255, 255, 0.7) inset, 2px 2px 1px -2px rgba(255, 255, 255, 0.7) inset, -2px -2px 1px -2px rgba(255, 255, 255, 0.7) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.07) inset, 0px 0px 22px 0px rgba(242, 242, 242, 0.10) inset;
	backdrop-filter: blur(32.5px);
  -webkit-backdrop-filter: blur(32.5px);
  /* transform: translateY(140%); */
  transition: all .5s ease-in-out;
}

.show_menu {
  height: 539px;
  opacity: 1;
}

.nav_hide_blur {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
	background-color: rgba(255, 255, 255, 0.06);
	box-shadow: 3px 3px 0.5px -3.5px rgba(255, 255, 255, 0.7) inset, 2px 2px 1px -2px rgba(255, 255, 255, 0.7) inset, -2px -2px 1px -2px rgba(255, 255, 255, 0.7) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.07) inset, 0px 0px 22px 0px rgba(242, 242, 242, 0.10) inset;
	backdrop-filter: blur(32.5px);
  -webkit-backdrop-filter: blur(32.5px);
}

.menu_bg {
  border-radius: 24px;
  background: rgba(20, 21, 26, 0.50);
  box-shadow: 3px 3px 0.5px -3.5px #FFF inset, 2px 2px 1px -2px rgba(255, 255, 255, 0.70) inset, -2px -2px 1px -2px rgba(255, 255, 255, 0.70) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.07) inset, 0px 0px 22px 0px rgba(242, 242, 242, 0.10) inset;
  backdrop-filter: blur(50px);
}

.nav_hide_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 16px 24px;
  position: relative;
}

.hide_logo {
  width: 74px;
}

.hide_logo img {
  max-width: 100%;
}

.language_toggle {
  display: flex;
  width: 33px;
  height: 16px;
  /* align-items: flex-end; */
  justify-content: space-between;
}

.lang_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


.lang_p {
  font-family: Neue Montreal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  transition: all .5s ease-in;
}


.lang_wrap:hover .lang_p {
  color: rgba(255, 255, 255, 1);
}

.lang_wrap_active .lang_p {
  color: rgba(255, 255, 255, 1);
}

.bot_line {
  height: 1px;
  width: 100%;
  background: transparent;
  transition: all .5s ease-in;
}

.lang_wrap:hover .bot_line {
  height: 1px;
  width: 100%;
  background: #fff
}

.lang_wrap_active .bot_line {
  height: 1px;
  width: 100%;
  background: #fff
}

.hide_items {
  display: flex;
  flex-direction: column;
}

.hide_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  transition: all .5s ease;
  
  /* background: 
    linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
    linear-gradient(rgba(224, 97, 97, 1), rgba(224, 97, 97, 1)),
    linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
    
  background-blend-mode: soft-light; */
  
}

.hide_item:hover {
  background: rgba(255, 255, 255, 0.10);
  background-blend-mode: overlay;
  transition: all .5s ease;
}

.item_left_wrap {
  display: flex;
  align-items: center;
}

.hide_item_img {
  width: 72px;
  height: 52px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* .hide_item_img video {
  max-width: 100%;
  border-radius: 12px;
} */

.hide_item_img video {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.hide_item_descr {
  /* width: 100%; */
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: 0;
  
  margin-left: 16px;
  /* background: rgba(255, 255, 255, .5); */
  /* mix-blend-mode: luminosity ; */
}

.hide_item_descr p {
  display: inline-block;
  background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4));
  background-blend-mode: soft-light; 
  -webkit-background-clip: text;
  color: transparent;
  transition: all .5s ease;
}

 .hide_item:hover .hide_item_descr p {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-blend-mode: overlay;
  /* background-blend-mode: soft-light;  */
  -webkit-background-clip: text;
  color: transparent;
}

.item_right_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
}

.item_right_wrap img {
  max-width: 100%;
}


.nav_hide_footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 16px 16px;
}

.hide_footer_links {
  display: flex;
  flex-direction: column;
}

.hide_footer_link {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  /* color: #fff; */
  margin-bottom: 6px;
  display: inline-block;
  background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4));
  background-blend-mode: soft-light; 
  -webkit-background-clip: text;
  color: transparent;
  transition: all .5s ease;
}

.hide_footer_link:last-child {
  margin-bottom: 0;
}

.hide_footer_link:hover {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-blend-mode: overlay;
  -webkit-background-clip: text;
  color: transparent;
}

.open img{
  width: 12px;
  height: 12px;
}

.bottom_line {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.1)
}

.hide_item_link {
  display: inline;
}