.portfolio {
  max-width: 1376px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  position: relative;
  padding: 0 32px;
}

.portfolio_title {
  margin-left: 94px;
}

.portfolio_items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  gap: 21px;
}

.portfolio_item {
  width: 32%;
  height: auto;
  position: relative;
}

.portfolio_item a {
  display: block;
  height: 100%;
  border-radius: 44px;
}

.portfolio_item video {
  height: 100%;
  border-radius: 44px;

}

.item_large {
  width: 100%;
  height: auto;
}

.video_label {
  width: 298px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
  align-items: center;
}

.label_icon {
  width: 66px;
  height: 66px;
}

.label_icon img {
  width: 100%;
}

.label_text {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.label_ttl {
  font-family: Neue Montreal;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: #FFFFFF;
}

.label_descr {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110.00000000000001%;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 8px;
}

.bottom_portfolio_img {
  width: 100%;
}

.bottom_portfolio_img img {
  max-width: 100%;
}

.portfolio_bottom {
  margin: 0 auto;
}

.bottom_text_title {
  font-family: Neue Montreal;
  font-weight: 500;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #000
}

.bottom_text_span {
  font-family: Nib Pro;
  font-weight: 600;
  font-style: italic;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #000
}

.bottom_button_wrap {
  display: flex;
  width: 187px;
  align-items: center;
  justify-content: space-between;
  margin: 12px auto 0;
}
.bot_txt_descr {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 20px;
  color: #4E4C4B;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}


.arrow_btn.black_btn {
  background: #0A0A0C;
  margin-left: 8px;
  width: 33px;
  height: 25px;
}

@media (max-width: 1200px) {
  
  .portfolio_item {
    width: 48%;
  }
  .portfolio_item.item_large {
    width: 100%;
  }
  .portfolio_item.last_item {
    display: none;
    
  }
}

@media (max-width: 1026px) {
  .portfolio_title {
    margin-left: 0;
  }
  .portfolio_title .scroll_title {
    font-size: 36px;
  }
  .portfolio_title .scroll_sp {
    font-size: 36px;
  }
  .portfolio_item {
    width: 48.8%;
  }
  .portfolio_item.item_large {
    width: 100%;
  }
}


@media (max-width: 990px) {
  .portfolio {
    margin-top: 0;
    align-items: center;
    padding: 0 24px;
  }
  .portfolio_items {
    margin-top: 40px;
  }

  .portfolio_title {
    max-width: 440px;
    text-align: center;
  }
  .portfolio_title .scroll_title {
    font-size: 32px;
  }
  .portfolio_title .scroll_sp {
    font-size: 32px;
  }
  .portfolio_title .scroll_descr {
    font-size: 18px;
  }
  .portfolio_item {
    width: 48%;
  }
  .portfolio_item.item_large {
    width: 100%;
  }
  .label_icon {
    width: 44px;
    height: 44px;
  }
  .video_label {
    bottom: 16px;
    left: 16px;
  }
}
@media (max-width: 769px) {
  .portfolio {
    padding: 0 16px;
  }
  .portfolio_item {
    height: 344px;
  }
  .portfolio_item.item_large {
    height: 412px;
  }
  .portfolio_item a {
    border-radius: 24px;
  }
  .portfolio_item video {
    border-radius: 24px;
  }
  .bottom_text_title, .bottom_text_span {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .portfolio {
    padding: 0 12px;
  }
  .portfolio_items {
    margin-top: 32px;
  }
  .portfolio_title {
    max-width: 351px;
  }
  .portfolio_title .scroll_title {
    font-size: 24px;
  }
  .portfolio_title .scroll_sp {
    font-size: 24px;
  }
  .portfolio_title .scroll_descr {
    font-size: 14px;
    
  }
  .portfolio_item {
    width: 100%;
    height: 560px;
  }
  .portfolio_item.item_large {
    width: 100%;
    height: 560px;
  }
  
}







