.mySwiper2 {
  height: 100vh;
  width: 100%;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide {
  width: 321px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease;
}

.swiper-slide-active {
  opacity: 1;
}

.mySwiper {
  width: 100%;
  height: 68px;
  box-sizing: border-box;
  /* padding: 10px 0; */
  margin-top: 44px;
}

/* .progress-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 10;
} */

/* .progress-bar {
  width: 50px;
  height: 4px;
  background: rgba(255,255,255,0.3);
  overflow: hidden;
  position: relative;
  border-radius: 2px;
} */

/* .progress-bar span {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  /* background: #fff; 
  animation: progress linear forwards;
} */

/* @keyframes progress {
  from { width: 0%; }
  to { width: 100%; }
} */






.mySwiper {
  width: 100%;
  height: 69px;
  box-sizing: border-box;
  /* padding: 10px 0; */
  margin-top: 44px;
}

.mySwiper .swiper-wrapper {
  margin-top: 15px;
}
.mySwiper .swiper-slide {
  width: 320px!important;
  height: 100%;
  opacity: 0.4;
  gap: 20px;
  /* margin-right: 20px!important; */
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3 {
  font-size: 20px;
  color: #fff
}

/* .swiper-pagination {
  margin-bottom: 44px; 
  position: relative;
} */

/* .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #fff
} */

.swiper-pagination-progressbar.swiper-pagination-horizontal {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: translateX(0);
  /* background: transparent */
  /* width: 320px; */
}

.swiper-pagination-progressbar.swiper-pagination-horizontal
 .swiper-pagination-progressbar-fill {
  background: rgba(255, 255, 255);
  /* width: 50% !important;
  left: 25%; */
}

/* .swiper-scrollbar-drag {
  background: #fff;
} */