.slider_section {
  position: sticky;
  top: 0%
}

.container_slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 5;
}

.main_content {
  position: relative;
  max-width: 1352px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.logo {
  width: 104px;
  margin-top: 44px;
}

.title_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 112px;
}

.class_h1 {
  font-family: Neue Montreal;
  font-weight: 500;
  font-size: 72px;
  line-height: 110.00000000000001%;
  color: #fff;
  
}

.title_span {
  font-family: Nib Pro;
  font-weight: 600;
  font-style: italic;
  font-size: 72px;
  line-height: 110.00000000000001%;
  
}

.main_descr {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110.00000000000001%;
  margin-top: 4px;
  color: #DEFCFF;

}

.cont_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.icon_wrap {
  display: flex;
}

.icon {
  width: 16px;
} 

.icon img {
  width: 100%;
}

h5 {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #fff;
  margin-left: 4px;
}

.slide_span {
  font-family: Neue Montreal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #fff;
  margin-top: 4px;
}



@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 260px;
  }
}



.pagination_main {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  top: 0;
}



@media (max-width: 1400px) {
  .main_content {
    margin-left: 44px;
  }
  .class_h1 {
    font-size: 66px;
  }
  .title_span {
    font-size: 66px;
  }
  
}

@media (max-width: 1220px) {
  .main_content {
    margin-left: 44px;
  }
  .class_h1 {
    font-size: 62px;
  }
  .title_span {
    font-size: 62px;
  }
  .main_descr {
    font-size: 30px;
  }
}

@media (max-width: 1026px) {
  .main_content {
    margin-left: 44px;
  }
  .class_h1 {
    font-size: 56px;
  }
  .title_span {
    font-size: 56px;
  }
  .main_descr {
    font-size: 28px;
  }
}

@media (max-width: 993px) {
  .class_h1 {
    display: none;
  }
  .title_span {
    display: none;;
  }
  .main_descr {
    display: none;
  }
}

@media (max-width: 780px) {
  .cont_wrap {
    max-width: 220px;
  }
}